.App {
  text-align: center;
  background-color: #d4d4d4;
}

a {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #d4d4d4; */
  background: url("./Images/Untitled copy.jpg");
  max-width: 1585px;
  border-bottom: 12px solid #fa9d00;
}

.nav h1 {
  margin-left: 35px;
  margin-bottom: 80px;
  padding: 20px;
  background-color: #cf97d7;
  display: block;
}

.nav a {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  font-size: 25px;
}

.nav a:hover {
  color: #6e006c;
}

.nav-items {
  margin-top: 105px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 15px;
  background-color: #5b5b5b;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
